### Wayne Enterprises, Inc.'s Next Five days Stock Price Predictor

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
#shift() method is used to shift the index of the dataframe by the desired number of periods

In [3]:
def prepare_data(df, forecast_col, forecast_out, test_size):
    label = df[forecast_col].shift(-forecast_out)
    X = np.array(df[[forecast_col]])
    X = preprocessing.scale(X)
    X_lately = X[-forecast_out:]
    X = X[:-forecast_out]
    label.dropna(inplace = True)
    y = np.array(label)
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = test_size, random_state = 0)
    
    response = [ X_train, X_test, y_train, y_test, X_lately]
    
    return response

In [4]:
# NIFTY 50 one year data. Which will be considered as Wayne Enterprises, Inc.'s stock

nf_data = pd.read_csv("nifty_50.csv")
nf_data["symbol"] = "Wyn"

nf_data.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr),symbol
0,30-Sep-20,11244.45,11295.40,11184.55,11247.55,499343849,28134.77,Wyn
1,01-Oct-20,11364.45,11428.60,11347.05,11416.95,447740006,26212.72,Wyn
2,05-Oct-20,11487.80,11578.05,11452.30,11503.35,530597393,31341.55,Wyn
3,06-Oct-20,11603.45,11680.30,11564.30,11662.40,561444728,30373.65,Wyn
4,07-Oct-20,11679.25,11763.05,11629.35,11738.85,513367516,32935.98,Wyn

In [5]:
nf_data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Shares Traded',
       'Turnover (Rs. Cr)', 'symbol'],
      dtype='object')

In [6]:
Xn_train, Xn_test, yn_train, yn_test, Xn_lately = prepare_data(nf_data, forecast_col = "Close", forecast_out = 5, test_size = 0.2)

In [7]:
nf_linear = LinearRegression()

nf_linear.fit(Xn_train, yn_train)

LinearRegression()

In [8]:
nf_score = nf_linear.score(Xn_test, yn_test)
nf_pred = nf_linear.predict(Xn_lately)

print(f"Wyn prediction score:{nf_score}\n\nForecast:{nf_pred}")

Wyn prediction score:0.9715571161048697

Forecast:[17614.50308349 17433.10537849 17592.19574288 17577.40448247
 17843.64716982]

In [9]:
nf_data.tail()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr),symbol
239,17-Sep-21,17709.65,17792.95,17537.65,17585.15,508285916,43345.58,Wyn
240,20-Sep-21,17443.85,17622.75,17361.80,17396.90,339102046,25304.27,Wyn
241,21-Sep-21,17450.50,17578.35,17326.10,17562.00,363578479,26520.99,Wyn
242,22-Sep-21,17580.90,17610.45,17524.00,17546.65,295191136,21772.23,Wyn
243,23-Sep-21,17670.85,17843.90,17646.55,17822.95,320514486,25005.36,Wyn

In [10]:
# import pickle as pkl

# pkl.dump(nf_data, open("nf_model.pkl", "wb"))